/*For Laptop*/
@media only screen and (min-width: 601px) {
    body {
        background-color: black;
        color: whitesmoke;
        font-family: 'Kaushan Script', cursive;
        font-size: 35px;
        margin: 100px 100px;
    }

    img {
        float: left;
    }

    #quotes {
        padding-top: 160px;
    }

    footer {
        position: absolute;
        top: 95%;
        left: 45%;
        font-size: 18px;
        font-weight: 400;

    }
}

/*For Mobile*/
@media only screen and (max-width: 600px) {

    body {
        background-color: black;
        color: whitesmoke;
        font-family: 'Kaushan Script', cursive;
        font-size: 25px;
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
        width: 70%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #quotes {
        margin: 15px;
        text-align: center;
        padding-top: 20px;
        font-size: 35px;
    }

    footer {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 92%;
        font-size: 24px;
        font-weight: 400;

    }
}
